@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-body-gray !important;
}

html {
  @apply bg-body-gray !important;
}
.step-box {
  @apply flex bg-white justify-between gap-5 items-center rounded-lg md:px-10 p-10 px-2  overflow-auto w-full;
}
@media (min-width: 768px){
    .step-box .item::after {
        content: "";
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 55%;
        left: -30%;
        height: 1px;
        align-items: center;
        @apply border border-gray-200;
        justify-content: center;
    }

}

.step-box .item {

  @apply flex flex-wrap relative w-full justify-center items-center;
  @apply last:after:hidden;
    justify-content: center;
    align-items: center;
    position: relative;
  /*@apply after:absolute after:h-[2px] after:right-[50px] after:top-[20px] after:bg-gray-300;*/
  /*@apply after:xl.2:w-[290px] after:xl.3:w-[257px] after:xl.4:w-[225px] after:xl.5:w-[190px] after:xl.6:w-[150px] after:xl.7:w-[160px] after:w-0 !important;*/
}

.step-box .item svg {
  @apply w-10 h-10 fill-gray-400;
}
.step-box .router-link-exact-active.item svg {
    @apply w-10 h-10 fill-header-blue;
}
.has-two-boxes {
  @apply grid md:gap-80 gap-10 md:grid-cols-2 grid-cols-1 justify-between w-full mt-20;
}
.has-two-boxes .item-dashed {
  @apply flex gap-4 flex-wrap justify-center w-full border-[8px] p-6 border-dashed border-header-blue;
}

.has-two-boxes .item-dashed .muted-text {
  @apply text-gray-500 gap-1 gap-y-0.5 w-full flex flex-wrap justify-center;
}
.has-two-boxes .item-solid {
    @apply flex gap-4 flex-wrap  w-full border p-12 border-gray-300;
}
.has-one-box {
    @apply grid grid-cols-1 w-full mt-20 ;
}
.has-one-box .item-solid {
    @apply flex gap-4 flex-wrap w-full border p-12 border-gray-300 rounded-md;
}
.btn-green {
  @apply bg-green-800 rounded-md text-xl text-white flex transition ease-in-out;
  @apply hover:bg-green-700;
}
.btn-pdf {
  @apply bg-pdf rounded-md text-xl text-white flex transition ease-in-out;
  @apply hover:bg-green-700;
}
